@use "sass:meta";
body, html {
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, span, div, header, footer, nav, section, article, aside, main, address, blockquote, pre, code, ul, ol, li, dl, dt, dd, table, th, td, input, textarea, button, label {
    font-family: 'Myriad Pro', sans-serif;
}

@include meta.load-css('ksul-custom/custom.scss');
@include meta.load-css('pages/_front-page.scss');
@include meta.load-css('layouts/layouts.scss');
@include meta.load-css('components/components.scss');
@include meta.load-css('views/views.scss');
@include meta.load-css('utils/utils.scss');