.ksul {
    
    .sidebar-first, .sidebar-second {
        flex: 0 0 auto;
        white-space: nowrap;
    }

    .center-content {
        flex: 1;
        max-width: 100%;

        .main-content {
            padding: 0 1rem;
            margin: 1rem 0;
        }
    }
}
