#header {
    .header__row, .header__nav {
        padding: 0.5rem 5rem;

        #block-mainnavigation {
            align-items: center;
            flex-grow: 1;

            &:has(+.search-form) {
                flex-grow: 0;
                width: 25%;
            }
        }

        .main-nav {
            flex-grow: 1;
        }

        .secondary-menu {
            margin-left: auto;
        }
    }

}

@media (max-width: 500px) {
    #header {

        .header__row {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .header__nav {
            padding: 5px 1rem; 
            
            .container {
                flex-wrap: wrap;

                #block-mainnavigation {
                    width: 100%;
                    margin: 0.25rem 0;
                }
            }
            
            .secondary-menu {

                .nav {
                    padding: 5px;
                    padding-right: 0;
                }
            }
        }
    }
}
