#pdf-viewer-container {
    display: flex;  /* Establishes a flex container */
    justify-content: center; /* Horizontally centers the canvases in the container */
    align-items: center; /* Vertically centers the canvases */
    width: 100%;
    overflow-y: auto;
    max-height: 850px;
    border: 1px solid #512888;

}

canvas {
    flex: 1; /* Each canvas will take an equal amount of space */
    /* width: 50%; Each canvas will cover half of the container's width */
    box-sizing: border-box; /* Includes padding and border in the element's width */
    padding: 5px; /* Optional: adds some space around the canvas */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    /* max-height: 90vh; */
    overflow: scroll;
}
#pdf-controls {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#pdf-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
}

#pdf-controls input[type="number"] {
    width: 50px;
    text-align: center;
}

#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100; /* Ensures it appears above other content */
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

progress {
    width: 100%;
    height: 20px; /* Give it a suitable height */
    accent-color: #512888;
}



