#block-views-exposed-filter-block-fgsc-solr-search-content-page-1 {

    max-width: 65%;
    margin: auto;

    .form-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .form-item-search-text {
        margin-bottom: 0;

        #edit-search-text,#edit-search-text--2 {
            border-radius: 0;
            padding: 0 12px;
            box-shadow: none;
        }
    }

    #edit-submit-fgsc-solr-search-content,#edit-submit-fgsc-solr-search-content--2 {
        border-radius: 0;
    }
}

@media (max-width: 500px) {
    #block-views-exposed-filter-block-fgsc-solr-search-content-page-1 {
        max-width: 100%;

        .form-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .form-item-search-text {
            margin-bottom: 0;

            #edit-search-text,#edit-search-text--2 {
                border-radius: 0;
                padding: 0 12px;
                box-shadow: none;
            }
        }

        #edit-submit-fgsc-solr-search-content,#edit-submit-fgsc-solr-search-content--2 {
            border-radius: 0;
        }
    }
}