@use "../ksul-custom/variables";

// Global header search
#block-solr-search-contentsolr-collection-members-block-search, #block-kstate-theme-search {
    margin: 0;
    display: flex;
    align-items: center;

    form {
        margin: 0;
    }

    .form-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        max-width: min(450px, 80vw);
        margin: auto;

        .form-item-search-text {
            padding: 0;
            margin: 0;

            label {
                display: none;
            }

            #edit-search-text {
                border: 1px solid black;
            }
        }

        #edit-submit-solr-search-content {
            border-radius: 0;
            border: none;
            box-shadow: none;
            line-height: 24px;
            height: 24px;
            width: 24px;
            padding: 0;
            margin-left: -24px;
            background: transparent;

            .svg-inline--fa {
                color: variables.$ksu-purple;
            }
        }
    }
}

@media (max-width: 500px) {
    #block-solr-search-contentsolr-collection-members-block-search {

        .form-row {

            #edit-submit-solr-search-content {
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 900px) {
    #block-solr-search-contentsolr-collection-members-block-search {
        max-width: 75%;
    }
}

// Within collection search
#block-solr-search-contentsolr-collection-members-block-search, #block-kstate-theme-search {
    
    align-content: center;

    form {
        display: flex;
        flex-direction: row;
        margin: 0 auto;

        #edit-submit {
            border-radius: 0;
            border: none;
            box-shadow: none;
            line-height: 24px;
            height: 38px;
            width: 38px;
            padding: 0;
            margin-left: -38px;
            background: transparent;

            .svg-inline--fa {
                color: variables.$ksu-purple;
            }
        }
    }
}

@media (max-width: 500px) {
    
    #block-kstate-theme-search {
        order: 3;

        form {
            max-width: 100%;
        }
    }
}

.main-search-collection-children {
    .view-title {
        display: none;
    }
}
