@use "../ksul-custom/variables";

// Global header search
#block-kstate-theme-exposed-form-reposito-children {
    margin: 0;
    display: flex;
    align-items: center;

    form {
        margin: 0;
    }

    .form-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        max-width: min(450px, 80vw);
        margin: auto;

        .form-item-combine {
            padding: 0;
            margin: 0;

            label {
                display: none;
            }

            #edit-combine {
                border: 1px solid black;
            }
        }

        #edit-submit-reposito {
            border-radius: 0;
            border: none;
            box-shadow: none;
            line-height: 24px;
            height: 24px;
            width: 24px;
            padding: 0;
            margin-left: -24px;
            background: transparent;

            .svg-inline--fa {
                color: variables.$ksu-purple;
            }
        }
    }
}

@media (max-width: 500px) {
    #views-exposed-form-reposito-reposito-children {

        .form-row {

            #edit-submit-reposito {
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 900px) {
    #block-views-exposed-filter-block-reposito-reposito-children {
        max-width: 75%;
    }
}

// Within collection search
#block-kstate-theme-search {
    width: fit-content;
    margin: 0.25rem 4vw;
    align-content: center;

    form {
        display: flex;
        flex-direction: row;
        max-width: min(450px, 75%);
        margin: 0 auto;

        #edit-submit {
            border-radius: 0;
            border: none;
            box-shadow: none;
            line-height: 24px;
            height: 38px;
            width: 38px;
            padding: 0;
            margin-left: -38px;
            background: transparent;

            .svg-inline--fa {
                color: variables.$ksu-purple;
            }
        }
    }
}

@media (max-width: 500px) {
    
    #block-kstate-theme-search {
        order: 3;

        form {
            max-width: 100%;
        }
    }
}

.view.view-reposito.view-id-reposito{
    .view-content {
        margin: 1rem 0;
    }
}