.ksul-front {
	& > div + div {
		margin-top: rem(20);
	}
	&__title {
		h1 {
			@include adaptive-value("font-size", 32, 24, 0);
			line-height: rem(34);
			color: $primaryColor;
			font-weight: 700;
		}
	}

	&__text {
		p {
			font-size: rem(16);
			line-height: rem(24);
		}
	}

	&__grid-cards {
	}
}
.cards-grid {
	&__items {
		@include row-flex();
		row-gap: 30px;
	}

	&__item {
		@include col();
		@include size(3);
		@include size-md(4);
		@include size-sm(6);
		@include size-xs(12);
		a {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		&_image {
			position: relative;
			padding-bottom: 80%;
			img {
				position: absolute;
				width: calc(100% - 1px);
				height: 100%;
				top: 0;
				left: 0;
				border: none;
				padding: 0;
				box-shadow: none;
			}
		}

		&_title {
			padding: 20px;
			flex-grow: 1;
			border: 1px solid $greyColor;
			border-top: none;
			h4 {
				margin-top: auto;
				@include adaptive-value("font-size", 20, 17, 0);
				color: $primaryColor;

			}
		}
	}
}

